[Desktop Entry]
Name=Livelines
Name[ar]=Livelines
Name[ca]=Livelines
Name[ca@valencia]=Livelines
Name[cs]=Livelines
Name[da]=Livelines
Name[de]=Livelines
Name[el]=Livelines
Name[en_GB]=Livelines
Name[es]=Livelines
Name[et]=Livelines
Name[eu]=Livelines
Name[fi]=Livelines
Name[fr]=Livelines
Name[gl]=Livelines
Name[hu]=Livelines
Name[ia]=Livelines
Name[id]=Livelines
Name[it]=Livelines
Name[ko]=Livelines
Name[lt]=Livelines
Name[nl]=Livelines
Name[nn]=Livelines
Name[pa]=Livelines
Name[pl]=Livelines
Name[pt]=Livelines
Name[pt_BR]=Livelines
Name[ru]=Livelines
Name[sk]=Livelines
Name[sl]=Livelines
Name[sr]=Livelines
Name[sr@ijekavian]=Livelines
Name[sr@ijekavianlatin]=Livelines
Name[sr@latin]=Livelines
Name[sv]=Livelines
Name[tg]=Livelines
Name[tr]=Livelines
Name[uk]=Livelines
Name[x-test]=xxLivelinesxx
Name[zh_CN]=Livelines
Name[zh_TW]=Livelines
X-KDE-PluginInfo-Name=Livelines
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-License=GPLv3
