[Desktop Entry]
Comment[en_US]=Update Operating Sistem
Comment[id]=Perbarui Sistem Operasi
Comment=Update Operating Sistem
Exec=sudo l7-tools --update
GenericName[en_US]=Update Operating Sistem
GenericName[id]=Perbarui Sistem Operasi
GenericName=Update Operating Sistem
Icon=system-software-update
Name[en_US]=Update System
Name[id]=Perbarui Sistem
Name=Update System
NoDisplay=false
OnlyShowIn=KDE;
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=Qt;KDE;System;LangitKetujuh;
X-KDE-SubstituteUID=false
X-KDE-Username=
