[Desktop Entry]
Comment=LangitKetujuh Aqsa
Comment[ast]=LangitKetujuh Aqsa
Comment[ca]=LangitKetujuh Aqsa
Comment[ca@valencia]=LangitKetujuh Aqsa
Comment[cs]=LangitKetujuh Aqsa
Comment[da]=LangitKetujuh Aqsa
Comment[de]=LangitKetujuh Aqsa
Comment[en_GB]=LangitKetujuh Aqsa
Comment[es]=LangitKetujuh Aqsa
Comment[et]=LangitKetujuh Aqsa
Comment[eu]=LangitKetujuh Aqsa
Comment[fi]=LangitKetujuh Aqsa
Comment[fr]=LangitKetujuh Aqsa
Comment[gl]=LangitKetujuh Aqsa
Comment[hu]=LangitKetujuh Aqsa
Comment[ia]=LangitKetujuh Aqsa
Comment[id]=LangitKetujuh Aqsa
Comment[it]=LangitKetujuh Aqsa
Comment[ko]=LangitKetujuh Aqsa
Comment[lt]=LangitKetujuh Aqsa
Comment[nl]=LangitKetujuh Aqsa
Comment[nn]=LangitKetujuh Aqsa
Comment[pa]=LangitKetujuh Aqsa
Comment[pl]=LangitKetujuh Aqsa
Comment[pt]=LangitKetujuh Aqsa
Comment[pt_BR]=LangitKetujuh Aqsa
Comment[ro]=LangitKetujuh Aqsa
Comment[ru]=LangitKetujuh Aqsa
Comment[sk]=LangitKetujuh Aqsa
Comment[sl]=LangitKetujuh Aqsa
Comment[sv]=LangitKetujuh Aqsa
Comment[tg]=LangitKetujuh Aqsa
Comment[uk]=LangitKetujuh Aqsa
Comment[x-test]=LangitKetujuh Aqsa
Comment[zh_CN]= LangitKetujuh Aqsa
Comment[zh_TW]=LangitKetujuh Aqsa
Name=LangitKetujuh Aqsa
Name[ar]=LangitKetujuh Aqsa
Name[ast]=LangitKetujuh Aqsa
Name[bs]=LangitKetujuh Aqsa
Name[ca]=LangitKetujuh Aqsa
Name[ca@valencia]=LangitKetujuh Aqsa
Name[cs]=LangitKetujuh Aqsa
Name[da]=LangitKetujuh Aqsa
Name[de]=LangitKetujuh Aqsa
Name[el]=LangitKetujuh Aqsa
Name[en_GB]=LangitKetujuh Aqsa
Name[es]=LangitKetujuh Aqsa
Name[et]=LangitKetujuh Aqsa
Name[eu]=LangitKetujuh Aqsa
Name[fi]=LangitKetujuh Aqsa
Name[fr]=LangitKetujuh Aqsa
Name[gl]=LangitKetujuh Aqsa
Name[hu]=LangitKetujuh Aqsa
Name[ia]=LangitKetujuh Aqsa
Name[id]=LangitKetujuh Aqsa
Name[is]=LangitKetujuh Aqsa
Name[it]=LangitKetujuh Aqsa
Name[ja]=LangitKetujuh Aqsa
Name[ko]=LangitKetujuh Aqsa
Name[lt]=LangitKetujuh Aqsa
Name[nb]=LangitKetujuh Aqsa
Name[nds]=LangitKetujuh Aqsa
Name[nl]=LangitKetujuh Aqsa
Name[nn]=LangitKetujuh Aqsa
Name[pa]=LangitKetujuh Aqsa
Name[pl]=LangitKetujuh Aqsa
Name[pt]=LangitKetujuh Aqsa
Name[pt_BR]=LangitKetujuh Aqsa
Name[ro]=LangitKetujuh Aqsa
Name[ru]=LangitKetujuh Aqsa
Name[sk]=LangitKetujuh Aqsa
Name[sl]=LangitKetujuh Aqsa
Name[sr]=LangitKetujuh Aqsa
Name[sr@ijekavian]=LangitKetujuh Aqsa
Name[sr@ijekavianlatin]=LangitKetujuh Aqsa
Name[sr@latin]=LangitKetujuh Aqsa
Name[sv]=LangitKetujuh Aqsa
Name[tg]=LangitKetujuh Aqsa
Name[tr]=LangitKetujuh Aqsa
Name[uk]=LangitKetujuh Aqsa
Name[x-test]=xxLangitKetujuh Aqsa
Name[zh_CN]=LangitKetujuh Aqsa
Name[zh_TW]=LangitKetujuh Aqsa
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=LangitKetujuh Design Team
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.langitketujuh.aqsa.id.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://langitketujuh.id/
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
