[Desktop Entry]
Name=LangitKetujuh
Name[ar]=LangitKetujuh
Name[ca]=LangitKetujuh
Name[ca@valencia]=LangitKetujuh
Name[cs]=LangitKetujuh
Name[da]=LangitKetujuh
Name[de]=LangitKetujuh
Name[el]=LangitKetujuh
Name[en_GB]=LangitKetujuh
Name[es]=LangitKetujuh
Name[et]=LangitKetujuh
Name[eu]=LangitKetujuh
Name[fi]=LangitKetujuh
Name[fr]=LangitKetujuh
Name[gl]=LangitKetujuh
Name[hu]=LangitKetujuh
Name[ia]=LangitKetujuh
Name[id]=LangitKetujuh
Name[it]=LangitKetujuh
Name[ko]=LangitKetujuh
Name[lt]=LangitKetujuh
Name[nl]=LangitKetujuh
Name[nn]=LangitKetujuh
Name[pa]=LangitKetujuh
Name[pl]=LangitKetujuh
Name[pt]=LangitKetujuh
Name[pt_BR]=LangitKetujuh
Name[ru]=LangitKetujuh
Name[sk]=LangitKetujuh
Name[sl]=LangitKetujuh
Name[sr]=LangitKetujuh
Name[sr@ijekavian]=LangitKetujuh
Name[sr@ijekavianlatin]=LangitKetujuh
Name[sr@latin]=LangitKetujuh
Name[sv]=LangitKetujuh
Name[tg]=LangitKetujuh
Name[tr]=LangitKetujuh
Name[uk]=LangitKetujuh
Name[x-test]=xxLangitKetujuhxx
Name[zh_CN]=LangitKetujuh
Name[zh_TW]=LangitKetujuh
X-KDE-PluginInfo-Name=LangitKetujuh
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-License=GPLv3
