[Desktop Entry]
Name=Energy
Name[ar]=Energy
Name[ca]=Energy
Name[ca@valencia]=Energy
Name[cs]=Energy
Name[da]=Energy
Name[de]=Energy
Name[el]=Energy
Name[en_GB]=Energy
Name[es]=Energy
Name[et]=Energy
Name[eu]=Energy
Name[fi]=Energy
Name[fr]=Energy
Name[gl]=Energy
Name[hu]=Energy
Name[ia]=Energy
Name[id]=Energy
Name[it]=Energy
Name[ko]=Energy
Name[lt]=Energy
Name[nl]=Energy
Name[nn]=Energy
Name[pa]=Energy
Name[pl]=Energy
Name[pt]=Energy
Name[pt_BR]=Energy
Name[ru]=Energy
Name[sk]=Energy
Name[sl]=Energy
Name[sr]=Energy
Name[sr@ijekavian]=Energy
Name[sr@ijekavianlatin]=Energy
Name[sr@latin]=Energy
Name[sv]=Energy
Name[tg]=Energy
Name[tr]=Energy
Name[uk]=Energy
Name[x-test]=xxEnergyxx
Name[zh_CN]=Energy
Name[zh_TW]=Energy
X-KDE-PluginInfo-Name=Energy
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-License=GPLv3
