[SddmGreeterTheme]
Name=LangitKetujuh
Name[ar]=LangitKetujuh
Name[ast]=LangitKetujuh
Name[az]=LangitKetujuh
Name[bs]=LangitKetujuh
Name[ca]=LangitKetujuh
Name[ca@valencia]=LangitKetujuh
Name[cs]=LangitKetujuh
Name[da]=LangitKetujuh
Name[de]=LangitKetujuh
Name[el]=LangitKetujuh
Name[en_GB]=LangitKetujuh
Name[es]=LangitKetujuh
Name[et]=LangitKetujuh
Name[eu]=LangitKetujuh
Name[fi]=LangitKetujuh
Name[fr]=LangitKetujuh
Name[gl]=LangitKetujuh
Name[hi]=LangitKetujuh
Name[hu]=LangitKetujuh
Name[ia]=LangitKetujuh
Name[id]=LangitKetujuh
Name[is]=LangitKetujuh
Name[it]=LangitKetujuh
Name[ja]=LangitKetujuh
Name[ko]=LangitKetujuh
Name[lt]=LangitKetujuh
Name[ml]=LangitKetujuh
Name[nb]=LangitKetujuh
Name[nds]=LangitKetujuh
Name[nl]=LangitKetujuh
Name[nn]=LangitKetujuh
Name[pa]=LangitKetujuh
Name[pl]=LangitKetujuh
Name[pt]=LangitKetujuh
Name[pt_BR]=LangitKetujuh
Name[ro]=LangitKetujuh
Name[ru]=LangitKetujuh
Name[sk]=LangitKetujuh
Name[sl]=LangitKetujuh
Name[sr]=LangitKetujuh
Name[sr@ijekavian]=LangitKetujuh
Name[sr@ijekavianlatin]=LangitKetujuh
Name[sr@latin]=LangitKetujuh
Name[sv]=LangitKetujuh
Name[tg]=LangitKetujuh
Name[tr]=LangitKetujuh
Name[uk]=LangitKetujuh
Name[vi]=LangitKetujuh
Name[x-test]=xxLangitKetujuhxx
Name[zh_CN]=LangitKetujuh
Name[zh_TW]=LangitKetujuh
Description=LangitKetujuh
Description[ar]=LangitKetujuh
Description[ast]=LangitKetujuh
Description[az]=LangitKetujuh
Description[ca]=LangitKetujuh
Description[ca@valencia]=LangitKetujuh
Description[cs]=LangitKetujuh
Description[da]=LangitKetujuh
Description[de]=LangitKetujuh
Description[en_GB]=LangitKetujuh
Description[es]=LangitKetujuh
Description[et]=LangitKetujuh
Description[eu]=LangitKetujuh
Description[fi]=LangitKetujuh
Description[fr]=LangitKetujuh
Description[gl]=LangitKetujuh
Description[hi]=LangitKetujuh
Description[hu]=LangitKetujuh
Description[ia]=LangitKetujuh
Description[id]=LangitKetujuh
Description[it]=LangitKetujuh
Description[ko]=LangitKetujuh
Description[lt]=LangitKetujuh
Description[ml]=LangitKetujuh
Description[nl]=LangitKetujuh
Description[nn]=LangitKetujuh
Description[pa]=LangitKetujuh
Description[pl]=LangitKetujuh
Description[pt]=LangitKetujuh
Description[pt_BR]=LangitKetujuh
Description[ro]=LangitKetujuh
Description[ru]=LangitKetujuh
Description[sk]=LangitKetujuh
Description[sl]=LangitKetujuh
Description[sv]=LangitKetujuh
Description[tg]=LangitKetujuh
Description[tr]=LangitKetujuh
Description[uk]=LangitKetujuh
Description[vi]=LangitKetujuh
Description[x-test]=xxLangitKetujuhxx
Description[zh_CN]=LangitKetujuh
Description[zh_TW]=LangitKetujuh
Author=LangitKetujuh Design Team
Copyright=(c) 2022, Hervy Qurrotul Ainur
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://gitlab.com/langitketujuh
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=langitketujuh.id@proton.me
Theme-Id=langitketujuh
Theme-API=2.0
