[SddmGreeterTheme]
Name=LangitKetujuh
Name[ar]=LangitKetujuh
Name[ast]=LangitKetujuh
Name[bs]=LangitKetujuh
Name[ca]=LangitKetujuh
Name[ca@valencia]=LangitKetujuh
Name[cs]=LangitKetujuh
Name[da]=LangitKetujuh
Name[de]=LangitKetujuh
Name[el]=LangitKetujuh
Name[en_GB]=LangitKetujuh
Name[es]=LangitKetujuh
Name[et]=LangitKetujuh
Name[eu]=LangitKetujuh
Name[fi]=LangitKetujuh
Name[fr]=LangitKetujuh
Name[gl]=LangitKetujuh
Name[hu]=LangitKetujuh
Name[ia]=LangitKetujuh
Name[id]=LangitKetujuh
Name[is]=LangitKetujuh
Name[it]=LangitKetujuh
Name[ja]=LangitKetujuh
Name[ko]=LangitKetujuh
Name[lt]=LangitKetujuh
Name[nb]=LangitKetujuh
Name[nds]=LangitKetujuh
Name[nl]=LangitKetujuh
Name[nn]=LangitKetujuh
Name[pa]=LangitKetujuh
Name[pl]=LangitKetujuh
Name[pt]=LangitKetujuh
Name[pt_BR]=LangitKetujuh
Name[ro]=LangitKetujuh
Name[ru]=LangitKetujuh
Name[sk]=LangitKetujuh
Name[sl]=LangitKetujuh
Name[sr]=LangitKetujuh
Name[sr@ijekavian]=LangitKetujuh
Name[sr@ijekavianlatin]=LangitKetujuh
Name[sr@latin]=LangitKetujuh
Name[sv]=LangitKetujuh
Name[tg]=LangitKetujuh
Name[tr]=LangitKetujuh
Name[uk]=LangitKetujuh
Name[x-test]=xxLangitKetujuh
Name[zh_CN]=LangitKetujuh
Name[zh_TW]=LangitKetujuh
Description=LangitKetujuh Theme
Description[ast]=LangitKetujuh Theme
Description[ca]=LangitKetujuh Theme
Description[ca@valencia]=LangitKetujuh Theme
Description[cs]=LangitKetujuh Theme
Description[da]=LangitKetujuh Theme
Description[de]=LangitKetujuh Theme
Description[en_GB]=LangitKetujuh Theme
Description[es]=LangitKetujuh Theme
Description[et]=LangitKetujuh Theme
Description[eu]=LangitKetujuh Theme
Description[fi]=LangitKetujuh Theme
Description[fr]=LangitKetujuh Theme
Description[gl]=LangitKetujuh Theme
Description[hu]=LangitKetujuh Theme
Description[ia]=LangitKetujuh Theme
Description[id]=LangitKetujuh Theme
Description[it]=LangitKetujuh Theme
Description[ko]=LangitKetujuh Theme
Description[lt]=LangitKetujuh Theme
Description[nl]=LangitKetujuh Theme
Description[nn]=LangitKetujuh Theme
Description[pa]=LangitKetujuh Theme
Description[pl]=LangitKetujuh Theme
Description[pt]=LangitKetujuh Theme
Description[pt_BR]=LangitKetujuh Theme
Description[ro]=LangitKetujuh Theme
Description[ru]=LangitKetujuh Theme
Description[sk]=LangitKetujuh Theme
Description[sl]=LangitKetujuh Theme
Description[sv]=LangitKetujuh Theme
Description[tg]=LangitKetujuh Theme
Description[uk]=LangitKetujuh Theme
Description[x-test]=LangitKetujuh Theme
Description[zh_CN]= LangitKetujuh Theme
Description[zh_TW]=LangitKetujuh Theme
Author=LangitKetujuh Design Team
Copyright=(c) 2020, Hervy Qurrotul Ainur
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://langitketujuh.id/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=langitketujuh.id@pm.me
Theme-Id=langitketujuh
Theme-API=2.0
