[Desktop Entry]
Comment[en_US]=Server and user space API to deal with multimedia pipelines
Comment=Server and user space API to deal with multimedia pipelines
Exec=pipewire
GenericName[en_US]=
GenericName=
Icon=org.pulseaudio.pavucontrol
MimeType=
Name[en_US]=PipeWire
Name=PipeWire
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
