[SddmGreeterTheme]
Name=LangitKetujuh Dark
Name[ar]=LangitKetujuh Dark
Name[ast]=LangitKetujuh Dark
Name[bs]=LangitKetujuh Dark
Name[ca]=LangitKetujuh Dark
Name[ca@valencia]=LangitKetujuh Dark
Name[cs]=LangitKetujuh Dark
Name[da]=LangitKetujuh Dark
Name[de]=LangitKetujuh Dark
Name[el]=LangitKetujuh Dark
Name[en_GB]=LangitKetujuh Dark
Name[es]=LangitKetujuh Dark
Name[et]=LangitKetujuh Dark
Name[eu]=LangitKetujuh Dark
Name[fi]=LangitKetujuh Dark
Name[fr]=LangitKetujuh Dark
Name[gl]=LangitKetujuh Dark
Name[hu]=LangitKetujuh Dark
Name[ia]=LangitKetujuh Dark
Name[id]=LangitKetujuh Dark
Name[is]=LangitKetujuh Dark
Name[it]=LangitKetujuh Dark
Name[ja]=LangitKetujuh Dark
Name[ko]=LangitKetujuh Dark
Name[lt]=LangitKetujuh Dark
Name[nb]=LangitKetujuh Dark
Name[nds]=LangitKetujuh Dark
Name[nl]=LangitKetujuh Dark
Name[nn]=LangitKetujuh Dark
Name[pa]=LangitKetujuh Dark
Name[pl]=LangitKetujuh Dark
Name[pt]=LangitKetujuh Dark
Name[pt_BR]=LangitKetujuh Dark
Name[ro]=LangitKetujuh Dark
Name[ru]=LangitKetujuh Dark
Name[sk]=LangitKetujuh Dark
Name[sl]=LangitKetujuh Dark
Name[sr]=LangitKetujuh Dark
Name[sr@ijekavian]=LangitKetujuh Dark
Name[sr@ijekavianlatin]=LangitKetujuh Dark
Name[sr@latin]=LangitKetujuh Dark
Name[sv]=LangitKetujuh Dark
Name[tg]=LangitKetujuh Dark
Name[tr]=LangitKetujuh Dark
Name[uk]=LangitKetujuh Dark
Name[x-test]=xxLangitKetujuh Dark
Name[zh_CN]=LangitKetujuh Dark
Name[zh_TW]=LangitKetujuh Dark
Description=LangitKetujuh Dark Theme
Description[ast]=LangitKetujuh Dark Theme
Description[ca]=LangitKetujuh Dark Theme
Description[ca@valencia]=LangitKetujuh Dark Theme
Description[cs]=LangitKetujuh Dark Theme
Description[da]=LangitKetujuh Dark Theme
Description[de]=LangitKetujuh Dark Theme
Description[en_GB]=LangitKetujuh Dark Theme
Description[es]=LangitKetujuh Dark Theme
Description[et]=LangitKetujuh Dark Theme
Description[eu]=LangitKetujuh Dark Theme
Description[fi]=LangitKetujuh Dark Theme
Description[fr]=LangitKetujuh Dark Theme
Description[gl]=LangitKetujuh Dark Theme
Description[hu]=LangitKetujuh Dark Theme
Description[ia]=LangitKetujuh Dark Theme
Description[id]=LangitKetujuh Dark Theme
Description[it]=LangitKetujuh Dark Theme
Description[ko]=LangitKetujuh Dark Theme
Description[lt]=LangitKetujuh Dark Theme
Description[nl]=LangitKetujuh Dark Theme
Description[nn]=LangitKetujuh Dark Theme
Description[pa]=LangitKetujuh Dark Theme
Description[pl]=LangitKetujuh Dark Theme
Description[pt]=LangitKetujuh Dark Theme
Description[pt_BR]=LangitKetujuh Dark Theme
Description[ro]=LangitKetujuh Dark Theme
Description[ru]=LangitKetujuh Dark Theme
Description[sk]=LangitKetujuh Dark Theme
Description[sl]=LangitKetujuh Dark Theme
Description[sv]=LangitKetujuh Dark Theme
Description[tg]=LangitKetujuh Dark Theme
Description[uk]=LangitKetujuh Dark Theme
Description[x-test]=LangitKetujuh Dark Theme
Description[zh_CN]= LangitKetujuh Dark Theme
Description[zh_TW]=LangitKetujuh Dark Theme
Author=LangitKetujuh Design Team
Copyright=(c) 2020, Hervy Qurrotul Ainur
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://langitketujuh.id/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=langitketujuh.id@pm.me
Theme-Id=langitketujuh-dark
Theme-API=2.0
