[Desktop Entry]
Name=LangitKetujuh Dark
Name[ar]=LangitKetujuh Dark
Name[ca]=LangitKetujuh Dark
Name[ca@valencia]=LangitKetujuh Dark
Name[cs]=LangitKetujuh Dark
Name[da]=LangitKetujuh Dark
Name[de]=LangitKetujuh Dark
Name[el]=LangitKetujuh Dark
Name[en_GB]=LangitKetujuh Dark
Name[es]=LangitKetujuh Dark
Name[et]=LangitKetujuh Dark
Name[eu]=LangitKetujuh Dark
Name[fi]=LangitKetujuh Dark
Name[fr]=LangitKetujuh Dark
Name[gl]=LangitKetujuh Dark
Name[hu]=LangitKetujuh Dark
Name[ia]=LangitKetujuh Dark
Name[id]=LangitKetujuh Dark
Name[it]=LangitKetujuh Dark
Name[ko]=LangitKetujuh Dark
Name[lt]=LangitKetujuh Dark
Name[nl]=LangitKetujuh Dark
Name[nn]=LangitKetujuh Dark
Name[pa]=LangitKetujuh Dark
Name[pl]=LangitKetujuh Dark
Name[pt]=LangitKetujuh Dark
Name[pt_BR]=LangitKetujuh Dark
Name[ru]=LangitKetujuh Dark
Name[sk]=LangitKetujuh Dark
Name[sl]=LangitKetujuh Dark
Name[sr]=LangitKetujuh Dark
Name[sr@ijekavian]=LangitKetujuh Dark
Name[sr@ijekavianlatin]=LangitKetujuh Dark
Name[sr@latin]=LangitKetujuh Dark
Name[sv]=LangitKetujuh Dark
Name[tg]=LangitKetujuh Dark
Name[tr]=LangitKetujuh Dark
Name[uk]=LangitKetujuh Dark
Name[x-test]=xxLangitKetujuh Darkxx
Name[zh_CN]=LangitKetujuh Dark
Name[zh_TW]=LangitKetujuh Dark
X-KDE-PluginInfo-Name=LangitKetujuh Dark
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@pm.me
X-KDE-PluginInfo-License=GPLv3
