[Desktop Entry]
Comment=LangitKetujuh Unity
Comment[ast]=LangitKetujuh Unity
Comment[ca]=LangitKetujuh Unity
Comment[ca@valencia]=LangitKetujuh Unity
Comment[cs]=LangitKetujuh Unity
Comment[da]=LangitKetujuh Unity
Comment[de]=LangitKetujuh Unity
Comment[en_GB]=LangitKetujuh Unity
Comment[es]=LangitKetujuh Unity
Comment[et]=LangitKetujuh Unity
Comment[eu]=LangitKetujuh Unity
Comment[fi]=LangitKetujuh Unity
Comment[fr]=LangitKetujuh Unity
Comment[gl]=LangitKetujuh Unity
Comment[hu]=LangitKetujuh Unity
Comment[ia]=LangitKetujuh Unity
Comment[id]=LangitKetujuh Unity
Comment[it]=LangitKetujuh Unity
Comment[ko]=LangitKetujuh Unity
Comment[lt]=LangitKetujuh Unity
Comment[nl]=LangitKetujuh Unity
Comment[nn]=LangitKetujuh Unity
Comment[pa]=LangitKetujuh Unity
Comment[pl]=LangitKetujuh Unity
Comment[pt]=LangitKetujuh Unity
Comment[pt_BR]=LangitKetujuh Unity
Comment[ro]=LangitKetujuh Unity
Comment[ru]=LangitKetujuh Unity
Comment[sk]=LangitKetujuh Unity
Comment[sl]=LangitKetujuh Unity
Comment[sv]=LangitKetujuh Unity
Comment[tg]=LangitKetujuh Unity
Comment[uk]=LangitKetujuh Unity
Comment[x-test]=LangitKetujuh Unity
Comment[zh_CN]= LangitKetujuh Unity
Comment[zh_TW]=LangitKetujuh Unity
Name=LangitKetujuh Unity
Name[ar]=LangitKetujuh Unity
Name[ast]=LangitKetujuh Unity
Name[bs]=LangitKetujuh Unity
Name[ca]=LangitKetujuh Unity
Name[ca@valencia]=LangitKetujuh Unity
Name[cs]=LangitKetujuh Unity
Name[da]=LangitKetujuh Unity
Name[de]=LangitKetujuh Unity
Name[el]=LangitKetujuh Unity
Name[en_GB]=LangitKetujuh Unity
Name[es]=LangitKetujuh Unity
Name[et]=LangitKetujuh Unity
Name[eu]=LangitKetujuh Unity
Name[fi]=LangitKetujuh Unity
Name[fr]=LangitKetujuh Unity
Name[gl]=LangitKetujuh Unity
Name[hu]=LangitKetujuh Unity
Name[ia]=LangitKetujuh Unity
Name[id]=LangitKetujuh Unity
Name[is]=LangitKetujuh Unity
Name[it]=LangitKetujuh Unity
Name[ja]=LangitKetujuh Unity
Name[ko]=LangitKetujuh Unity
Name[lt]=LangitKetujuh Unity
Name[nb]=LangitKetujuh Unity
Name[nds]=LangitKetujuh Unity
Name[nl]=LangitKetujuh Unity
Name[nn]=LangitKetujuh Unity
Name[pa]=LangitKetujuh Unity
Name[pl]=LangitKetujuh Unity
Name[pt]=LangitKetujuh Unity
Name[pt_BR]=LangitKetujuh Unity
Name[ro]=LangitKetujuh Unity
Name[ru]=LangitKetujuh Unity
Name[sk]=LangitKetujuh Unity
Name[sl]=LangitKetujuh Unity
Name[sr]=LangitKetujuh Unity
Name[sr@ijekavian]=LangitKetujuh Unity
Name[sr@ijekavianlatin]=LangitKetujuh Unity
Name[sr@latin]=LangitKetujuh Unity
Name[sv]=LangitKetujuh Unity
Name[tg]=LangitKetujuh Unity
Name[tr]=LangitKetujuh Unity
Name[uk]=LangitKetujuh Unity
Name[x-test]=xxLangitKetujuh Unity
Name[zh_CN]=LangitKetujuh Unity
Name[zh_TW]=LangitKetujuh Unity
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=LangitKetujuh Design Team
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.langitketujuh.unity.id.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://langitketujuh.id/
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2 Unity
