[Desktop Entry]
Name=Harmony
Name[ar]=Harmony
Name[ca]=Harmony
Name[ca@valencia]=Harmony
Name[cs]=Harmony
Name[da]=Harmony
Name[de]=Harmony
Name[el]=Harmony
Name[en_GB]=Harmony
Name[es]=Harmony
Name[et]=Harmony
Name[eu]=Harmony
Name[fi]=Harmony
Name[fr]=Harmony
Name[gl]=Harmony
Name[hu]=Harmony
Name[ia]=Harmony
Name[id]=Harmony
Name[it]=Harmony
Name[ko]=Harmony
Name[lt]=Harmony
Name[nl]=Harmony
Name[nn]=Harmony
Name[pa]=Harmony
Name[pl]=Harmony
Name[pt]=Harmony
Name[pt_BR]=Harmony
Name[ru]=Harmony
Name[sk]=Harmony
Name[sl]=Harmony
Name[sr]=Harmony
Name[sr@ijekavian]=Harmony
Name[sr@ijekavianlatin]=Harmony
Name[sr@latin]=Harmony
Name[sv]=Harmony
Name[tg]=Harmony
Name[tr]=Harmony
Name[uk]=Harmony
Name[x-test]=xxHarmonyxx
Name[zh_CN]=Harmony
Name[zh_TW]=Harmony
X-KDE-PluginInfo-Name=Harmony
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-License=GPLv3
