[Desktop Entry]
Comment=LangitKetujuh Plus
Comment[ast]=LangitKetujuh Plus
Comment[ca]=LangitKetujuh Plus
Comment[ca@valencia]=LangitKetujuh Plus
Comment[cs]=LangitKetujuh Plus
Comment[da]=LangitKetujuh Plus
Comment[de]=LangitKetujuh Plus
Comment[en_GB]=LangitKetujuh Plus
Comment[es]=LangitKetujuh Plus
Comment[et]=LangitKetujuh Plus
Comment[eu]=LangitKetujuh Plus
Comment[fi]=LangitKetujuh Plus
Comment[fr]=LangitKetujuh Plus
Comment[gl]=LangitKetujuh Plus
Comment[hu]=LangitKetujuh Plus
Comment[ia]=LangitKetujuh Plus
Comment[id]=LangitKetujuh Plus
Comment[it]=LangitKetujuh Plus
Comment[ko]=LangitKetujuh Plus
Comment[lt]=LangitKetujuh Plus
Comment[nl]=LangitKetujuh Plus
Comment[nn]=LangitKetujuh Plus
Comment[pa]=LangitKetujuh Plus
Comment[pl]=LangitKetujuh Plus
Comment[pt]=LangitKetujuh Plus
Comment[pt_BR]=LangitKetujuh Plus
Comment[ro]=LangitKetujuh Plus
Comment[ru]=LangitKetujuh Plus
Comment[sk]=LangitKetujuh Plus
Comment[sl]=LangitKetujuh Plus
Comment[sv]=LangitKetujuh Plus
Comment[tg]=LangitKetujuh Plus
Comment[uk]=LangitKetujuh Plus
Comment[x-test]=LangitKetujuh Plus
Comment[zh_CN]= LangitKetujuh Plus
Comment[zh_TW]=LangitKetujuh Plus
Name=LangitKetujuh Plus
Name[ar]=LangitKetujuh Plus
Name[ast]=LangitKetujuh Plus
Name[bs]=LangitKetujuh Plus
Name[ca]=LangitKetujuh Plus
Name[ca@valencia]=LangitKetujuh Plus
Name[cs]=LangitKetujuh Plus
Name[da]=LangitKetujuh Plus
Name[de]=LangitKetujuh Plus
Name[el]=LangitKetujuh Plus
Name[en_GB]=LangitKetujuh Plus
Name[es]=LangitKetujuh Plus
Name[et]=LangitKetujuh Plus
Name[eu]=LangitKetujuh Plus
Name[fi]=LangitKetujuh Plus
Name[fr]=LangitKetujuh Plus
Name[gl]=LangitKetujuh Plus
Name[hu]=LangitKetujuh Plus
Name[ia]=LangitKetujuh Plus
Name[id]=LangitKetujuh Plus
Name[is]=LangitKetujuh Plus
Name[it]=LangitKetujuh Plus
Name[ja]=LangitKetujuh Plus
Name[ko]=LangitKetujuh Plus
Name[lt]=LangitKetujuh Plus
Name[nb]=LangitKetujuh Plus
Name[nds]=LangitKetujuh Plus
Name[nl]=LangitKetujuh Plus
Name[nn]=LangitKetujuh Plus
Name[pa]=LangitKetujuh Plus
Name[pl]=LangitKetujuh Plus
Name[pt]=LangitKetujuh Plus
Name[pt_BR]=LangitKetujuh Plus
Name[ro]=LangitKetujuh Plus
Name[ru]=LangitKetujuh Plus
Name[sk]=LangitKetujuh Plus
Name[sl]=LangitKetujuh Plus
Name[sr]=LangitKetujuh Plus
Name[sr@ijekavian]=LangitKetujuh Plus
Name[sr@ijekavianlatin]=LangitKetujuh Plus
Name[sr@latin]=LangitKetujuh Plus
Name[sv]=LangitKetujuh Plus
Name[tg]=LangitKetujuh Plus
Name[tr]=LangitKetujuh Plus
Name[uk]=LangitKetujuh Plus
Name[x-test]=xxLangitKetujuh Plus
Name[zh_CN]=LangitKetujuh Plus
Name[zh_TW]=LangitKetujuh Plus
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=LangitKetujuh Design Team
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.langitketujuh.plus.id.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://langitketujuh.id/
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2 Plus
