[Desktop Entry]
Comment[en_US]=Website main page
Comment[id]=Halaman situs utama
Comment=Website main page
Exec=xdg-open "https://langitketujuh.id/"
GenericName[en_US]=Website main page
GenericName[id]=Halaman situs utama
GenericName=Website main page
Icon=distributor-logo-langitketujuh
Name[en_US]=Homepage
Name[id]=Beranda
Name=Homepage
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Categories=LangitKetujuh;
X-KDE-SubstituteUID=false
X-KDE-Username=
