[Desktop Entry]
Name=Alive
Name[ar]=Alive
Name[ca]=Alive
Name[ca@valencia]=Alive
Name[cs]=Alive
Name[da]=Alive
Name[de]=Alive
Name[el]=Alive
Name[en_GB]=Alive
Name[es]=Alive
Name[et]=Alive
Name[eu]=Alive
Name[fi]=Alive
Name[fr]=Alive
Name[gl]=Alive
Name[hu]=Alive
Name[ia]=Alive
Name[id]=Alive
Name[it]=Alive
Name[ko]=Alive
Name[lt]=Alive
Name[nl]=Alive
Name[nn]=Alive
Name[pa]=Alive
Name[pl]=Alive
Name[pt]=Alive
Name[pt_BR]=Alive
Name[ru]=Alive
Name[sk]=Alive
Name[sl]=Alive
Name[sr]=Alive
Name[sr@ijekavian]=Alive
Name[sr@ijekavianlatin]=Alive
Name[sr@latin]=Alive
Name[sv]=Alive
Name[tg]=Alive
Name[tr]=Alive
Name[uk]=Alive
Name[x-test]=xxAlivexx
Name[zh_CN]=Alive
Name[zh_TW]=Alive
X-KDE-PluginInfo-Name=Alive
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-License=GPLv3
