[Desktop Entry]
Name=Guardian
Name[ar]=Guardian
Name[ca]=Guardian
Name[ca@valencia]=Guardian
Name[cs]=Guardian
Name[da]=Guardian
Name[de]=Guardian
Name[el]=Guardian
Name[en_GB]=Guardian
Name[es]=Guardian
Name[et]=Guardian
Name[eu]=Guardian
Name[fi]=Guardian
Name[fr]=Guardian
Name[gl]=Guardian
Name[hu]=Guardian
Name[ia]=Guardian
Name[id]=Guardian
Name[it]=Guardian
Name[ko]=Guardian
Name[lt]=Guardian
Name[nl]=Guardian
Name[nn]=Guardian
Name[pa]=Guardian
Name[pl]=Guardian
Name[pt]=Guardian
Name[pt_BR]=Guardian
Name[ru]=Guardian
Name[sk]=Guardian
Name[sl]=Guardian
Name[sr]=Guardian
Name[sr@ijekavian]=Guardian
Name[sr@ijekavianlatin]=Guardian
Name[sr@latin]=Guardian
Name[sv]=Guardian
Name[tg]=Guardian
Name[tr]=Guardian
Name[uk]=Guardian
Name[x-test]=xxGuardianxx
Name[zh_CN]=Guardian
Name[zh_TW]=Guardian
X-KDE-PluginInfo-Name=Guardian
X-KDE-PluginInfo-Author=LangitKetujuh Visual Team
X-KDE-PluginInfo-Email=langitketujuh.id@proton.me
X-KDE-PluginInfo-License=GPLv3
