[Desktop Entry]
Comment=LangitKetujuh Dark
Comment[ast]=LangitKetujuh Dark
Comment[ca]=LangitKetujuh Dark
Comment[ca@valencia]=LangitKetujuh Dark
Comment[cs]=LangitKetujuh Dark
Comment[da]=LangitKetujuh Dark
Comment[de]=LangitKetujuh Dark
Comment[en_GB]=LangitKetujuh Dark
Comment[es]=LangitKetujuh Dark
Comment[et]=LangitKetujuh Dark
Comment[eu]=LangitKetujuh Dark
Comment[fi]=LangitKetujuh Dark
Comment[fr]=LangitKetujuh Dark
Comment[gl]=LangitKetujuh Dark
Comment[hu]=LangitKetujuh Dark
Comment[ia]=LangitKetujuh Dark
Comment[id]=LangitKetujuh Dark
Comment[it]=LangitKetujuh Dark
Comment[ko]=LangitKetujuh Dark
Comment[lt]=LangitKetujuh Dark
Comment[nl]=LangitKetujuh Dark
Comment[nn]=LangitKetujuh Dark
Comment[pa]=LangitKetujuh Dark
Comment[pl]=LangitKetujuh Dark
Comment[pt]=LangitKetujuh Dark
Comment[pt_BR]=LangitKetujuh Dark
Comment[ro]=LangitKetujuh Dark
Comment[ru]=LangitKetujuh Dark
Comment[sk]=LangitKetujuh Dark
Comment[sl]=LangitKetujuh Dark
Comment[sv]=LangitKetujuh Dark
Comment[tg]=LangitKetujuh Dark
Comment[uk]=LangitKetujuh Dark
Comment[x-test]=LangitKetujuh Dark
Comment[zh_CN]= LangitKetujuh Dark
Comment[zh_TW]=LangitKetujuh Dark
Name=LangitKetujuh Dark
Name[ar]=LangitKetujuh Dark
Name[ast]=LangitKetujuh Dark
Name[bs]=LangitKetujuh Dark
Name[ca]=LangitKetujuh Dark
Name[ca@valencia]=LangitKetujuh Dark
Name[cs]=LangitKetujuh Dark
Name[da]=LangitKetujuh Dark
Name[de]=LangitKetujuh Dark
Name[el]=LangitKetujuh Dark
Name[en_GB]=LangitKetujuh Dark
Name[es]=LangitKetujuh Dark
Name[et]=LangitKetujuh Dark
Name[eu]=LangitKetujuh Dark
Name[fi]=LangitKetujuh Dark
Name[fr]=LangitKetujuh Dark
Name[gl]=LangitKetujuh Dark
Name[hu]=LangitKetujuh Dark
Name[ia]=LangitKetujuh Dark
Name[id]=LangitKetujuh Dark
Name[is]=LangitKetujuh Dark
Name[it]=LangitKetujuh Dark
Name[ja]=LangitKetujuh Dark
Name[ko]=LangitKetujuh Dark
Name[lt]=LangitKetujuh Dark
Name[nb]=LangitKetujuh Dark
Name[nds]=LangitKetujuh Dark
Name[nl]=LangitKetujuh Dark
Name[nn]=LangitKetujuh Dark
Name[pa]=LangitKetujuh Dark
Name[pl]=LangitKetujuh Dark
Name[pt]=LangitKetujuh Dark
Name[pt_BR]=LangitKetujuh Dark
Name[ro]=LangitKetujuh Dark
Name[ru]=LangitKetujuh Dark
Name[sk]=LangitKetujuh Dark
Name[sl]=LangitKetujuh Dark
Name[sr]=LangitKetujuh Dark
Name[sr@ijekavian]=LangitKetujuh Dark
Name[sr@ijekavianlatin]=LangitKetujuh Dark
Name[sr@latin]=LangitKetujuh Dark
Name[sv]=LangitKetujuh Dark
Name[tg]=LangitKetujuh Dark
Name[tr]=LangitKetujuh Dark
Name[uk]=LangitKetujuh Dark
Name[x-test]=xxLangitKetujuh Dark
Name[zh_CN]=LangitKetujuh Dark
Name[zh_TW]=LangitKetujuh Dark
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=LangitKetujuh Design Team
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=langitketujuh.id@pm.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.langitketujuhdark.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://langitketujuh.id/
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
